<main>
    <h2>単語帳一覧</h2>
    <!--テーブルの記述-->
    <%= form_tag('/edit_multiple',method: "post",id: "selected_cards") do %>
	    <%= submit_tag '選択リストの一括編集', class: 'btn btn-success' %>
    <% end %>
    
    <button class="btn btn-danger">選択リストの一括削除</button>
    
    
<table class="table table-hover table-responsive">
	<thead>
		<tr>
			<th>選択</th>
			<th>id</th>
			<th>カード表面</th>
			<th>カード裏面</th>
			<th>お気に入り</th>
			<th>編集/削除</th>
		</tr>
	</thead>
	<tbody>
	    <%= render partial: "card", collection: @cards %>
	</tbody>
</table>
</main>