<div class="new-multiple">
    <h2><%= icon("fas","highlighter") %> 新規カード登録</h2>
    <%= form_tag "/create_multiple/#{current_user.id}", method: :post, class:"table-new-word" do %>
        <table class="table table-responsive mt-10px">
            <thead>
                <tr>
                    <th>id</th>
                    <th>English</th>
                    <th>Japanese</th>
                </tr>
            </thead>
            <tbody>
                <%= render partial: "add_card_list" %>
            </tbody>
        </table>
        <%= submit_tag "登録", class:"btn btn-primary" %>
    <% end %>
</div>