/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
 @import "bootstrap-sprockets";
 @import "bootstrap";
 
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
// ここから全体のレイアウト
 body {
  background-color: #F4FAFA;
  // overflow:hidden;
  
}
 
 .navbar {
   margin-bottom:0px;
 }
 
 .navbar-brand {
  // background: url("trainingstudy_logo.png") no-repeat left center;
  background-size: contain;
  height: 50px;
  width: 250px;
  padding-top:0px;
  padding-left:30px;
  img {
    height:50px;
  }
}

.mb-10px {
 margin-bottom: 10px;
}

.mt-10px {
 margin-top: 10px;
}

.d-inline-flex {
 display: inline-flex;
}

// ここから新規会員登録ページ


.sign-up, .login {
  .container {
    width:512px;
    background-color:white;
  }
  
  img {
    display:block;
    margin:10px auto;
  }
  
  h2 {
    text-align:center;
    margin-bottom:30px;
  }
  
  .form-signup, .form-login {
    width:300px;
    margin:10px auto;
  }
}


.form-signup, .form-login {
  margin-top:30px;
  
  .field > input {
    display:block;
    width:100%;
    border-top:none;
    border-right:none;
    border-left:none;
    border-bottom:2px solid #B0B0B0;
    margin-bottom:5px;
  }
  
  .actions > input {
    font-size:18px;
    background-color: #FDB748;
    color:white;
    border-radius:5px;
    padding:8px;
    width:100%;
    border-color:#FDB748;
    margin-top:10px;
    
    
  }
}