// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

tr > th,tr > td {
  text-align:center;
}

#delete-description {
  padding: 0.25em 0.5em;/*上下 左右の余白*/
  color: #494949;/*文字色*/
  background: transparent;/*背景透明に*/
  border-left: solid 5px #7db4e6;/*左線*/
}

// ここから単語管理ページのcss

.card-list {
  
  .list > h2 {
    // text-align:center;
    margin-bottom:30px;
  }
  .container {
    background-color: #E8F2F7;
  }
  
  .btn {
    // width:100%;
  }
  
  .description {
    background-color: #F4FAFA;
    text-align:left;
  }
  
  .description h3 {
    padding: 0.25em 0.5em;/*上下 左右の余白*/
    color: #494949;/*文字色*/
    background: transparent;/*背景透明に*/
    border-left: solid 5px #7db4e6;/*左線*/
  }
  
  .description p {
    font-size:14px;
    margin-bottom:10px;
  }
}


// ここからnew_muptipleのcss
.new-multiple {
  width:600px;
  margin:0 auto;
  background-color:rgb(232, 242, 247);
  
  h2, .btn, tr > th, tr > td{
    text-align:center;
  }
  
  h2{
    padding:20px;
  }
  
  .btn {
    display:block;
    width:200px;
    margin:10px auto;
  }
  
  .table-new-word {
    padding-bottom:10px;
  }
}



