// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header_logo {
    padding-top:20px;
    img {
        background: cover;
        height:400px;
        width:1000px;
        margin-bottom:30px;
        
    }
}

.introduction, .description,.contact-form{
    text-align:center;
    
    h1 {
        margin:30px;
    }
    
    p {
        font-size:18px;
        margin-bottom:20px;
    }
    
    ul {
        width:500px;
        list-style:none;
        // display:block;
        padding:0px;
        margin:30px auto;
    }
    
    ul > li {
        text-align:left;
        margin-bottom:10px;
    }
    
    @media (min-width:800px) {
        ul {
            width:600px;
        }
    }
    
    @media (max-width:512px) {
        ul {
            width:100%;
        }
    }
    
    
}

.header_logo {
    background-color:white;
}
.introduction {
    background-color:white;
    
    .sign-up {
        margin-bottom:30px;
    }
    .sign-up > .button {
        margin:30px auto;
        color:white;
        background-color:rgb(51, 213, 127);
        font-size:24px;
        border-radius:5px;
        width: 200px;
        padding:10px;
    }
}

.description {
    background-color:#F4FAFA;
}

.contact-form {
    // background-image: url("contact3.jpg");
    background-size:cover;
    // background-color: #faa;
    background-color: #FFCC66;
    .name-form,.comment-form,.subject-form,.submit-form{
        border:1px solid white;
        display:block;
        margin:10px auto;
        width:80%;
        border-radius:5px;
        font-size:20px;
        height:40px;
    }
    
    .comment-form {
        height:100px;
    }
    
    .submit-form {
        background-color: #DA6B64;
        border:1px solid #DA6B64;
        border-radius:10px;
    }
}

