// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header_logo {
    img {
        background: cover;
        height:400px;
        width:1000px;
    }
}

.header_logo {
    height:100px;
}
