// Place all the styles related to the training controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header-training {
  margin-bottom: 10px;
}

.heading {
  display:inline;
}

.mainImage {
  width: 400px;
  height: 300px;
  background-color: pink;
  margin-bottom: 10px;
}

.training {
  width:400px;
  margin: 0 auto;
}

.itemNav {
  list-style:none;
  display:flex;
  justify-content:space-between;
  margin-bottom: 10px;
}

.itemNav li {
  width:100px;
  border:1px solid #dedede;
  border-radius:5px;
  text-align:center;
  user-select:none;
  cursor:pointer;
  
  
}

#play,#stop {
  width:150px;
}

.thumbnails {
  display:grid;
  grid-template-columns:repeat(5,76px);
  grid-template-rows:repeat(5,76px);
  gap:5px;
  padding:0;
  margin:0;
}

.thumbnails li {
  // border:1px solid black;
  background: #48D1CC;
  list-style: none;
  opacity: 0.7;
}

.thumbnails li:hover {
  opacity:1;
}


.mainImage .content {
  display:none;
}

.mainImage .current {
  display:block;
}

.question , .answer{
  line-height:300px;
}

// ここからtestのscss

.test-card {
  .description {
    background-color: #E8F2F7;
    text-align:left;
  }
  .description > p {
    font-size:14px;
    margin-bottom:10px;
  }
}

.test-container {
  width:400px;
  margin:20px auto;
  position:relative;
  background-color: white;
  padding:10px;
}

#question {
  font-size:16px;
  font-weight:bold;
  padding:15px;
}

#answer > p {
  padding: 0.25em 0.5em;/*上下 左右の余白*/
  color: #494949;/*文字色*/
  background: transparent;/*背景透明に*/
  border-left: solid 5px #7db4e6;/*左線*/
}

#answer > p > span {
  background: red;
  color:white;
  padding:3px;
  border-radius:3px;
  
}

#answer > input{
  width:100%;
  padding:10px;
  border-radius:5px;
  margin-bottom: 10px;
}

#choices{
  list-style:none;
  padding:0px;
  margin:0px;
}

#choices > li {
  padding:10px;
  border:1px solid #C0C0C0;
  border-radius:5px;
  cursor:pointer;
  margin-bottom: 10px;
}

#button, #submit, #introduction > a{
  border:1px solid royalblue;
  border-radius:5px;
  background-color:royalblue;
  padding:10px;
  // margin:10px;
  cursor:pointer;
  color:white;
  text-align:center;
  box-shadow:0 4px 0 mediumblue;
}

#button.disabled {
  color:black;
  background:#C0C0C0;
  box-shadow:0 4px 0 #808080;
  opacity: 0.5;
}

#result {
  position:absolute;
  padding:15px;
  background:white;
  width:300px;
  height:200px;
  top:-500px;
  right:0px;
  left:0px;
  margin:0 auto;
  border:2px solid #DDDDDD;
}

#result.show {
  top:30px;
}

#result p {
  text-align:center;
  font-size:24px;
  font-weight:bold;
}

#submit {
  display:block;
  margin:0 auto;
  
  
}

.test-container {
  // width:400px;
  border:2px solid #6495ED;
  padding:30px;
  border-radius:5px;
}

#introduction > a {
  display:block;
  text-decoration:none;
}

#introduction > .title {
  font-size:24px;
  font-weight:bold;
}
#introduction > p {
  margin-bottom:10px;
  text-align:center;
}

#introduction > .mode {
  margin-bottom:10px;
  text-align:center;
}

// 表示非表示を切り替えるためのclass
.show {
  display:visibility;
}
.hide {
  display:none;
}

